.home {
    margin: 0;
}

#mapid {
    height: 100vh;
    background-color: var(--darkblue-1);
}

section {
    display: flex;
    background-color: var(--darkblue-2);
}

.sidebar {
    width: 10%;
    border-right: 1px solid var(--darkblue-2);
    text-align: center;
    position: relative;
}

.sidebar-group {
    border-top: 1px solid var(--darkblue-3);
    padding: 8px 0;
    margin: 8px 0;
}

.icons {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.icons a {
    display: inline;
    padding: 0;
}

.icons img {
    width: 30%;
    opacity: 0.5;
}

.icons img:hover {
    opacity: 1;
}

.icons p {
    font-family: "Roboto";
    font-size: 1vw;
    font-weight: 700;
    color: #888;
    text-align: center;
    padding: 0;
}

.title {
    font-size: 2vw;
    line-height: 2vw;
}

.sot-skull {
    width: 70%;
    padding-top: 5px;
}

.map {
    flex: 1;
}

.island-name {
    font-family: "Windlass";
    background: none;
    border: none;
    box-shadow: none;
    margin: 0px;
}
